* { box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
/* BEGIN CSS RESET*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    background-color: white;
    color:darkgreen;
    font-style:italic;
    height:auto;
    margin:20px auto;
    table-layout: fixed;
    width:100%;
}

/* END CSS RESET*/

html {
    font-size: 20px;
}

body {
    background-color:lightgreen;
    margin:10px;
}

header {
    text-align: center;
    border:2px solid darkgreen;
    background-color:green;
    margin-bottom:10px;
    color:white;
}

h1 {
    font-size:40px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    padding:10px;
    word-wrap: break-word;
}

td {
    border:2px solid darkgreen;
    padding:3px 3px;
    word-wrap: break-word;
}

thead{
    font-weight: bold;
}

.day {
    color:black;
    font-weight: bold;
}

.flex-container > * {
    display:flex;           
    flex-direction: row;
    flex-wrap: wrap;
}
		
.flex-row > * {
    flex-wrap:wrap;
    background-color: green;
    border:2px solid darkgreen;
    text-align: center;
    color: yellow;
    padding:10px;
    flex:1 400px;
}

.flex-item-big-1 {
    flex: 66 600px;
    padding: 2%;
}

.flex-item-big-1 > * {
    display:flex;
    width:50%;
}

.fakeBorder > img {
    width:100%;
    height: auto;
}

.fakeBorder {
    background-color: yellow;
    width:90%;
    padding:20px;
    margin:0 auto;
}

.fakeBorder:hover{
    background-color: red;
}

.textBox {
    width:100%;
    margin:10px auto;
    text-align: center;
}

.flex-wrapper {
    width:100%;
}


@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
  .unbehaved-element {
    font-size: 1.9em;
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }

  .flex-item-big-1 {
    display:block;
    text-align: center;
    flex-wrap: wrap;
  }

  .flex-wrapper {
    width:100%;
    height:auto;
  }
}
